* {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
}

body {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
}

body::before, body::after {
  position: absolute;
  z-index: -1;
  content: '';
  width: 100vw;
  height: 100vh;
  background-size: auto;
  transform: translate(-50%, -50%);
}

body::before {
  top: 0;
  left: 0;
  background: url("images/bg-pattern-top.svg") no-repeat bottom right;
}

body::after {
  top: 100%;
  left: 100%;
  background: url("images/bg-pattern-bottom.svg") no-repeat top left;
}

h1 {
  font-size: 0px;
}

p {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 59%);
}

hr {
  border: none;
  height: 1px;
  background-color: #e3e3e3;
  transform: translateY(-1000%);
}

.card {
  border-radius: 5%;
  max-width: 350px;
  background-color: #fff;
  padding-bottom: 12px;
}

.bg-image {
  border-radius: 18px 18px 0 0;
}

.profile-image {
  border: solid 5px #fff;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-55%);
}

.title {
  text-align: center;
  transform: translateY(-65%);
}

.bold {
  color: hsl(229, 23%, 23%);
  font-weight: 700;
}

.location {
  font-size: 16px;
  margin: 10px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.stat {
  text-align: center;
}

.sml-txt {
  font-size: 12px;
  margin: 2px;
}

.attribution {
  margin-top: 1rem;
  font-size: 11px; text-align: center;
}

.attribution a {
  font-size: 14px;
  color: hsl(228, 45%, 44%);
}
